<table border="1" cellspacing=0>
  <tr>
    <th>Email</th>
    <th>Utworzono</th>
    <th>Ostatnio zalogowany</th>
    <th>Usun konto</th>
    <th>Informacje o zalogowaniu</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.created_at.strftime('%F %T') %></td>
      <td><%= user.current_sign_in_at.strftime('%F %T') %></td>
      <td><%= link_to 'Usun', "/users/#{params[:id]}", method: :delete, data: { confirm: 'Na pewno chcesz usunac?' } %></td>
      <td><%= link_to 'Info',  home_info_path%>
    </tr>
  <% end %>
</table>

<%= link_to "Powrot", root_path%>